* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.82em;
}

ul.ops li {
    cursor: pointer;
}

div.subcanv {
    color: black;
    font-style: bold;
    font-size: 20px;
    width: 160px;
    float: left;
}

.gameboy-img {
    margin-top: 50px;
    margin-left: 100px;
    position: absolute;
    z-index: -1;
}

.display-and-buttons {
    margin-left: 175px;
    margin-top: 120px;
    position: absolute;
}

.button-default {
    position: absolute;
    width: 30px;
    height: 25px;
    background: Transparent no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: green;
    font-weight: bold;
}

#LEFT {
    margin-top: 120px;
    margin-left: -50px;
}

#UP {
    margin-top: 98px;
    margin-left: -25px;
}

#RIGHT {
    margin-top: 120px;
    margin-left: 0px;
}

#DOWN {
    margin-top: 148px;
    margin-left: -25px;
}

#START {
    margin-top: 200px;
    margin-left: 75px;
}

#SELECT {
    margin-top: 200px;
    margin-left: 24px;
}

#A {
    margin-top: 105px;
    margin-left: 175px;
}

#B {
    margin-top: 130px;
    margin-left: 125px;
}
